---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {

    const allPosts = await getCollection("posts");

    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ];
    //console.log(uniqueTags);

    return uniqueTags.map((tag) => {
        const filterdPosts = allPosts.filter((post) =>
            post.data.tags?.includes(tag),
        );

        return {
            params: { tag: tag },
            props: { posts: filterdPosts },
        };
    });

//   return [
//     {
//       params: {
//         tag: "astro",
//       },
//       props: { posts: allPosts },
//     },
//     {
//       params: {
//         tag: "blog",
//       },
//       props: { posts: allPosts },
//     },
//     {
//       params: {
//         tag: "programming",
//       },
//       props: { posts: allPosts },
//     },
//     {
//       params: {
//         tag: "javascript",
//       },
//       props: { posts: allPosts },
//     },
//   ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
// const filterdPosts = posts.filter((post) =>
//     post.frontmatter.tags?.includes(tag),
// );
---

<BaseLayout pageTitle={tag}>
    <p>{tag}タグが付いた記事</p>
    <ul>
        {
        posts.map((post) => (
            <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
        ))
        }
    </ul>
</BaseLayout>
